@model MvcyeBootstrap314EklemeDenemesi.Models.Haber
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="col-lg-2">
        <div class="col-lg-2">

            @*  <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2QKg5SZ_35I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen</iframe>
                 </div>
            *@
        </div>

    </div>
    <div class="col-lg-10">



        <div class="row">





            <div class="col-lg-10">

                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl" alt="..." class="img-responsive">

                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">1 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl2" alt="..." class="img-responsive">

                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">2 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl5" alt="..." class="img-responsive">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">3 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl4" alt="..." class="img-responsive">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">4 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div>

            <div class="col-lg-1">11</div>
            <div class="col-lg-1">33</div>

            <div class="col-lg-10">

                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl" alt="..." class="img-responsive">

                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">1 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl2" alt="..." class="img-responsive">

                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">2 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl5" alt="..." class="img-responsive">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">3 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl4" alt="..." class="img-responsive">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">4 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div>

            <div class="col-lg-1">11</div>
            <div class="col-lg-1">33</div>

            <div class="col-lg-10">

                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl" alt="..." class="img-responsive">

                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">1 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl2" alt="..." class="img-responsive">

                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">2 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl5" alt="..." class="img-responsive">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">3 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@Model.FotoUrl4" alt="..." class="img-responsive">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Baslik</h5>
                                <p class="card-text">@Model.İcerik</p>
                                <a href="#" class="btn btn-primary">4 Go somewhere</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>